/* BASIC RESET */

* {margin: 0; padding: 0; box-sizing: border-box;}

/* VARIABLES */

:root {
    --mustard: #D79922;
    --ivory: #EFE2BA;
    --red: #F13C20;
    --blue: #4056A1;
    --lightBlue: #C5CBE3;

    --font-main: 'Raleway', sans-serif;
    --font-title: 'Staatliches', cursive;
    --font-logo: 'Major Mono Display', monospace;

    --basictransition: background-color .4s, color .4s;
}

/* GLOBAL SETTINGS */

body {
    background-color: ghostwhite; font-family: var(--font-main); color: var(--blue);
}

h1,h2,h3,h4,h5,h6 {font-family: var(--font-title)}


/* BUTTON STYLING */

button, input[type="submit"] {padding: 6px; margin: 6px; background-color: var(--mustard); color: var(--ivory); transition: var(--basictransition); border-radius: 5px;}

button:hover, input[type="submit"]:hover {background-color: var(--lightBlue); color: var(--blue);}

/* LOGO STYLING */

.logo {font-family: var(--font-logo); font-size: 500%; text-align: center;}

.logocontainer {text-align: center;}

.b {color:var(--red)}

/* STYLING PROFILE INCLUDE */

.profile {width: 90%; margin: 10px auto;}

.profile div {}

.profile div img {height: 200px; margin: 10px;}

.profile div ul {display: flex; flex-wrap: wrap; justify-content: space-around;}

/* STYLING TOP MOVIES INCLUDE */

.topmovies {width: 90%; margin: 10px auto;}

.topmovies ul {display: flex; flex-wrap: wrap; justify-content: space-around;}

.topmovies ul li img {height: 300px;}


ul{
  list-style: none
}

a{
  text-decoration: none
}
