<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img ng-src='{{ctrl.movieInfo.Poster}}' />
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ctrl.movieInfo.Title}}   <small class="text-muted">({{ctrl.movieInfo.Year}})</small></h4>

        <h6 > Starring:</h6>
        <p>{{ctrl.movieInfo.Actors}}</p>

        <h6 >Plot: </h6>
        <p> {{ctrl.movieInfo.Plot}} </p>

        <h6 > Genre:</h6>
        <p>  {{ctrl.movieInfo.Genre}} </p>

        <h6 > Rated:</h6>
        <p> {{ctrl.movieInfo.Rated}} </p>

        <h5> Likes: {{ctrl.movieLikes}}</h5>
        <p> </p>
      </div>
    </div>
  </div>
</div>


 <button
   ng-if="ctrl.loggedInUser"
   ng-click="ctrl.addLikes(ctrl.loggedInUser, ctrl.movieInfo)">
    Like it
  </button>
 <h3> Comments:</h3>
 <form
   ng-submit="ctrl.newComment(ctrl.movieInfo.imdbID)"
   ng-if="ctrl.loggedInUser">
     <input ng-model="ctrl.newMessage">
     <input type="submit" value="Create a Comment">
 </form>
<div ng-repeat="comment in ctrl.movieComments">
   {{comment.username}}
   {{comment.date | date:'MM/dd/yyyy @ h:mm:ssa'
}}
   {{comment.message}}
  <button
    ng-if="comment.username === ctrl.loggedInUser.username && $index !== ctrl.indexOfEditForm"
    ng-click="ctrl.indexOfEditForm = $index ; ctrl.updatedDescription=null">
      Edit Me
  </button>
  <form
    ng-submit="ctrl.editComment(ctrl.movieInfo.imdbID, $index)"
    ng-if="$index === ctrl.indexOfEditForm">
      <input ng-model="ctrl.updatedMessage">
      <input type="submit" value="Edit this Comment">
  </form>
   <button ng-if="comment.username === ctrl.loggedInUser.username" ng-click="ctrl.deleteComment(ctrl.movieInfo.imdbID, $index)">Delete Me</button>
 </div>
