<h2>{{ctrl.movieInfo.Title}} {{ctrl.movieInfo.Year}}</h2>
 <img ng-src='{{ctrl.movieInfo.Poster}}' />
 <h3> Starring: {{ctrl.movieInfo.Actors}} </h3>
 <h4> Plot: {{ctrl.movieInfo.Plot}} </h4>
 <h5> Genre: {{ctrl.movieInfo.Genre}} </h5>
 <h6> Rated: {{ctrl.movieInfo.Rated}} </h6>
 <h4> Likes: {{ctrl.movieLikes}}</h4>
 <button
   ng-if="comment.username === ctrl.loggedInUser.username && $index !== ctrl.indexOfEditForm"
   ng-click="ctrl.addLikes(ctrl.loggedInUser, ctrl.movieInfo)">
    Like it
  </button>
 <h3> Comments:</h3>
<div ng-repeat="comment in ctrl.movieComments">
   {{comment.username}}
   {{comment.date | date:'MM/dd/yyyy @ h:mm:ssa'
}}
   {{comment.message}}
  <button
    ng-if="comment.username === ctrl.loggedInUser.username && $index !== ctrl.indexOfEditForm"
    ng-click="ctrl.indexOfEditForm = $index ; ctrl.updatedDescription=null">
      Edit Me
  </button>
  <form
    ng-submit="ctrl.editComment(ctrl.movieInfo.imdbID, $index)"
    ng-if="$index === ctrl.indexOfEditForm">
      <input ng-model="ctrl.updatedMessage">
      <input type="submit" value="Edit this Comment">
  </form>
   <button ng-if="comment.username === ctrl.loggedInUser.username" ng-click="ctrl.deleteComment(ctrl.movieInfo.imdbID, $index)">Delete Me</button>
 </div>
