<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img ng-src='{{ctrl.movieInfo.Poster}}' />
    </div>

    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">{{ctrl.movieInfo.Title}}   <small class="text-muted">({{ctrl.movieInfo.Year}})</small></h4>

        <h6 > Starring:</h6>
        <p>{{ctrl.movieInfo.Actors}}</p>

        <h6 >Plot: </h6>
        <p> {{ctrl.movieInfo.Plot}} </p>

        <h6 > Genre:</h6>
        <p>  {{ctrl.movieInfo.Genre}} </p>

        <h6 > Rated:</h6>
        <p> {{ctrl.movieInfo.Rated}} </p>

        <h5> Likes: {{ctrl.movieLikes}}</h5>

        <div mg-model="ctrl.heartFilled">
          <div
            class="icon icon-heart filled"
            id="heart"
            ng-if="ctrl.heartFilled"
            ng-click="ctrl.toggleLikes(ctrl.updatedUser, ctrl.movieInfo);">
          </div>
          <div
             class="icon icon-heart"
             id="heart"
             ng-if="!ctrl.heartFilled"
             ng-click="ctrl.toggleLikes(ctrl.updatedUser, ctrl.movieInfo);">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <h3> Comments:</h3>

   <button class="button is-medium" ng-if="!ctrl.commentForm && ctrl.loggedInUser" ng-click="ctrl.commentForm = true">new comment</button>

   <div ng-if="ctrl.commentForm">
     <form
       ng-submit="ctrl.newComment(ctrl.movieInfo.imdbID)"
       ng-if="ctrl.loggedInUser">
         <textarea class="textarea" rows="8" ng-model="ctrl.newMessage"> </textarea>
         <input class="button is-medium" type="submit" value="Submit Comment"> <button class="button is-medium"  ng-click="ctrl.commentForm = false">cancel</button>
     </form>
   </div>


</section>




<div ng-repeat="comment in ctrl.movieComments">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">@{{comment.username}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{comment.date | date:'MM/dd/yyyy @ h:mm:ssa'}}</h6>
      <p class="card-text" ng-if="ctrl.indexOfEditForm === null">{{comment.message}}</p>
      <a href="#" class="card-link" ng-if="comment.username === ctrl.loggedInUser.username && $index !== ctrl.indexOfEditForm"
      ng-click="ctrl.indexOfEditForm = $index ; ctrl.updatedMessage=comment.message">edit</a>


      <a href="#" class="card-link" ng-if="comment.username === ctrl.loggedInUser.username"
      ng-click="ctrl.deleteComment(ctrl.movieInfo.imdbID, $index)">delete</a>

      <form
        ng-submit="ctrl.editComment(ctrl.movieInfo.imdbID, $index)"
        ng-if="$index === ctrl.indexOfEditForm">
          <textarea class="textarea" ng-model="ctrl.updatedMessage"> </textarea>
          <input class="button is-small" type="submit" value="Edit this Comment"> <button class="button is-small" ng-click="ctrl.indexOfEditForm = null">cancel</button>
      </form>
    </div>
  </div>








 </div>
