<div ng-init="ctrl.displayApp(ctrl.getMovies)">
    <h1 ng-if="!ctrl.loggedInUsername">Sign Up/Login</h1>


    <div class="formbar" ng-if="!ctrl.loggedInUsername">
        <form ng-submit="ctrl.createUser()">
            <h2>Create User</h2>
            <input type="text" ng-model="ctrl.createname" />
            <input type="text" ng-model="ctrl.createusername" />
            <input type="password" ng-model="ctrl.createpassword" />
            <input type="submit" value="Create User">
        </form>


        <form ng-submit="ctrl.logIn(ctrl.getMovies)">
            <h2>Log In</h2>
            <input type="text" ng-model="ctrl.username" />
            <input type="password" ng-model="ctrl.password" />
            <input type="submit" value="Log In">
        </form>
    </div>
    <div class="formbar">
        <form ng-submit="ctrl.logOut(ctrl.clearData)" ng-if="ctrl.loggedInUsername">
            <input type="submit" value="Logout">
        </form>
    </div>
